*{
  margin: 0px;
  padding: 0px;
}
nav{
  position:relative;
  background-color: #E0FFFF;
  width: 1200px;
  height: 700px;
  margin: 0 auto ;
  margin-top: 40px;
}
div{
  position: absolute;
  width: 200px;
  height: 200px;
}
div:nth-child(1){
  top: 0;
  left: 0;
background-color: #FF69B4;
}
div:nth-child(2){
  background-color: #FF69B4;
top: 0;
left: 0;
right: 0;
margin: 0 auto;
}
div:nth-child(3){
  background-color: #FF69B4;
  top: 0;
  bottom:0;
  right: 0;
  margin: 0 auto ;
}
div:nth-child(4){
  background-color: #FF69B4;
  top: 0;
  bottom:0;
  right: 0;
  margin:  auto 0 ;
}
div:nth-child(5){
  background-color: #FF69B4;
  left: 0;
  bottom:0;
  right: 0;
  margin:  auto 0 ;
}
div:nth-child(6){
  background-color: #FF69B4;
  left: 0;
  bottom:0;
  right: 0;
  margin:  0 auto  ;
}
div:nth-child(7){
    background-color: #FF69B4;
    bottom:0;
    right: 0;
    margin:  auto 0  ;
  }
div:nth-child(8){
      background-color: #FF69B4;
      left: 0;
      bottom:0;
      top: 0;
      margin:   auto 0 ;
    }
div:nth-child(9){
        background-color: #FF69B4;
        left: 0;
        bottom:0;
        right: 0;
        top:0 ;
        margin:   auto  ;
      }
        footer{
          position: absolute;
          width: 40px;
          height: 40px;
        }
        footer:nth-child(1){
          top: 0;
          left: 0;
        background-color: #66CDAA		;
        }
        footer:nth-child(2){
          background-color:  #66CDAA		;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        }
        footer:nth-child(3){
          background-color:  #66CDAA		;
          top: 0;
          bottom:0;
          right: 0;
          margin: 0 auto ;
        }
        footer:nth-child(4){
          background-color:  #66CDAA	;
          top: 0;
          bottom:0;
          right: 0;
          margin:  auto 0 ;
        }
        footer:nth-child(5){
          background-color:  #66CDAA		;
          left: 0;
          bottom:0;
          right: 0;
          margin:  auto 0 ;
        }
        footer:nth-child(6){
          background-color: #66CDAA		;
          left: 0;
          bottom:0;
          right: 0;
          margin:  0 auto  ;
        }
        footer:nth-child(7){
            background-color: #66CDAA		;
            bottom:0;
            right: 0;
            margin:  auto 0  ;}
        footer:nth-child(8){
              background-color:  #66CDAA		;
              left: 0;
              bottom:0;
              top: 0;
              margin:   auto 0 ;}

              footer:nth-child(9){
                      background-color:  #66CDAA		;
                      left: 0;
                      bottom:0;
                      right: 0;
                      top:0 ;
                      margin: auto;

                    }
